@use '../util/' as *;
@use '../globals/' as *;

.btn {
	display: inline-flex;
	border-radius: 1.5rem;
	padding: 0.5rem 2rem;
	outline: none;
	border: none;
	transition: 0.23s ease-in-out;
	cursor: pointer;

	justify-content: center;
	align-items: center;

	&--primary {
		padding: 10px 30px 10px 30px;
		font-size: 1.2rem;
		border-radius: 8px;
		font-weight: 600;
		flex: 1;
		color: white;
		box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
	}
}
