@use '../globals/' as *;

.input {
	&__group {
		display: flex;
		/* 		background: $light-grayish-blue; */
		border-radius: 8px;
	}
	width: 6rem;
	flex: 1;

	input {
		width: 100%;
		height: 100%;
		outline: none;
		border: none;
		background: transparent;
		text-align: center;
	}
}
